@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Space Mono', sans-serif;
    background-color: #fff;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 300px;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

input,
select {
    font-family: inherit;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}

input {
    height: 40px;
    font-weight: 500;
    padding: 2rem;
}
